@page
@model Cuneiform_Style_Analyser.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h3 style="font:bold">@Model.Message</h3>
        <br />
        <p style="text-align:center">
    This software tool has been developed by <a href="https://www.csmc.uni-hamburg.de/about/people/people-list/mohammed.html" target="_blank"> Dr. Hussein Mohammed</a>
    as a part of sub-project RFA05: <a href="https://www.csmc.uni-hamburg.de/written-artefacts/field-a/rfa05.html" target="_blank">
        Pattern Recognition in 2D Data from Digitised Images and Advanced Aquisition Techniques.
    </a>
</p>
<br />
<p>
    The main goal of this software tool is to analyse artefact features in order to extract some
    statistical information such as the mean, standard deviation and outliers. The main tasks achieved by this software tool are:
    <ul>
        <li>
            Calculating individual statistics for each entry in the table
        </li>
        <li>
            Calculating general statistics for each table as a whole
        </li>
        <li>
            Calculating distances between different tables
        </li>
    </ul>
</p>
        <br />
        <h3 style="font:bold">Acknowledgement: </h3>
        <p>
            The research for this work was funded by the Deutsche Forschungsgemeinschaft (DFG, German Research Foundation) under Germany's Excellence Strategy – EXC 2176
            ‘Understanding Written Artefacts: Material, Interaction and Transmission in Manuscript Cultures', project no. 390893796. The research was conducted within the
            scope of the Centre for the Study of Manuscript Cultures (CSMC) at Universität Hamburg.
        </p>
        <p>
            Furthermore, the analysis in this application has been developed in close collaboration with <a href="https://www.csmc.uni-hamburg.de/about/people/people-list/beyer.html" target="_blank">
            Dr. Wiebke Beyer</a> from the <a href="https://www.csmc.uni-hamburg.de/" target="_blank">CSMC</a> , Hamburg. Furthermore, I would like to thank her for
            testing the application and validating the results.
        </p>
        <br />
        <h3 style="position:center; font:bold">Copyrights Notice:</h3>
<div class="row">
    <div class="col-12 my-auto">
        <p>
            Proper citation of this software is required when it is used to support your research in anyway.

            This software tool is licensed under the <a href="https://creativecommons.org/licenses/by-nc/4.0/legalcode" target="_blank">Creative Commons Attribution-NonCommercial 4.0 International Public License</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-12 my-auto" style="text-align:center">
        <img src=@Url.Content("~/images/Copyrights.png?xxx=987878787") class="img-responsive" style="width:50%" />
    </div>
</div>

