@page
@model Cuneiform_Style_Analyser.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<h3> Will be added in the Release versions</h3>

@*<h3 style="font:bold">@Model.Message</h3>
        <br />
        <p>
            This software tool has been developed by <a href="http://uhh.de/hussein-adnan-mohammed"> Dr. Hussein Mohammed</a>
            as a part of sub-project RFA05: <a href="https://www.written-artefacts.uni-hamburg.de/research/field-a/rfa05.html">
                Pattern Recognition in 2D Data from Digitised Images and Advanced Aquisition Techniques
            </a>.
        </p>
        <br />
        <p>
        The main goal of this software tool is to analyse Occurrences-Frequency tablets in order to extract some
        statistical information such as the mean, standard deviation and outliers. The main tasks achieved by this software tool are:
        <ul>
            <li>
                Calculating individual statistics for each entry in the table
            </li>
            <li>
                Calculating general statistics for each table as a whole
            </li>
            <li>
                Calculating distances between different tables of occurrences using the L2 distance measure
            </li>
        </ul>
    </p>
        <br />
        <h3 style="font:bold">Acknowledgement: </h3>
        <p>
            The research and developement for this software was funded by the Deutsche Forschungsgemeinschaft (DFG, German Research Foundation) under
            Germany´s Excellence Strategy – EXC 2176 ‘Understanding Written Artefacts: Material, Interaction and Transmission in Manuscript Cultures’,
            project no. 390893796. The research was conducted within the scope of the Centre for the Study of Manuscript Cultures (CSMC) at Universität Hamburg.
        </p>
        <p>
            Furthermore, the analysis in this application has been developed in close collaboration with <a href="https://www.written-artefacts.uni-hamburg.de/people/beyer.html">
            Dr. Wiebke Beyer</a> from the <a href="https://www.written-artefacts.uni-hamburg.de/">CSMC</a> , Hamburg. Furthermore, I would like to thank her for
            testing the application and validating the results.
        </p>
        <br />
        <h3 style="position:center; font:bold">Copyrights notice:</h3>
        <div class="row">
            <div class="col-mid-8">
                <p>
                    This software tool is licensed under the <a href="https://opensource.org/licenses/AGPL-3.0">GNU Affero General Public License version 3</a>
                </p>
            </div>
            <div class="col-mid-4">
                <img src="~/images/agplv3.png" class="img-responsive" />
            </div>
        </div>*@

