@page
@model Cuneiform_Style_Analyser.Pages.HowToModel
@{
    ViewData["Title"] = "How To Use The Artefact-Features Analysis Tool v1.0 (AFAT)";
}

<h3 style="text-align:center; font-style:italic">@ViewData["Title"]</h3>

<ol>
    <li>
        Each step (page) contains relevant instructions at the bottom of the page. Please read
        these instructions and use them as guidelines.
    </li>
    <li>
        Start the analysis by by clicking the "Select Files" button and selecting the Artefact-Features tables 
        you want to analyse.
    </li>
    <li>
        Upload the Files and validate them by clicking the "Upoad and Validate" button.
    </li>
    <li>
        If the application finds at least one valid file (check relevant guidelines), a list of tables
        will appear with their artefact entries. Otherwise, a message will appear to tell you that no 
        valid file has been uploaded.
    </li>
    <li>
        Click "Calculate Statistics" button in order to generate statistical information about the uploaded
        styles.
    </li>
    <li>
        The following results will be calculated: Individual statistics for each artefact, general statistics
        for each class of artefacts, and L2 distances between different classes.
    </li>
    <li>
        You can download all results as ".csv" files.
    </li>
</ol>

