@page
@model IndexModel
@{
    ViewData["Title"] = "Upload Occurrences-Frequency tables to be Analysed";
}

<h1 style="text-align:center; font-style:normal; color:red">This is a beta version for experimentation purposes only! To be used by Dr. Wiebke Beyer from the CSMC.</h1>

<h3 style="text-align:center; font-style:italic">@ViewData["Title"]</h3>

<div style="text-align:center">
    <form method="post" asp-page-handler="Upload" enctype="multipart/form-data" style="display: inline-block">
        <div style="text-align:center" class="buttons">
            <div class="upload-button">
                <div class="label" style="font-style:normal;font-size:20px">
                    Select Files
                </div>
                <input type="file" name="files" multiple />
                <br />
                <button type="submit" style="background: #337ab7; border-radius: 50px; font-style: normal; font-size: 20px"> Upload and Validate </button>
            </div>
        </div>
    </form>
</div>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-success" style="margin-top:20px">
        @ViewData["Message"]
    </div>
}

<br />
<hr />
<p style="text-align:center">
    This software tool has been developed by <a href="http://uhh.de/hussein-adnan-mohammed"> Dr. Hussein Mohammed</a>
    as a part of sub-project RFA05: <a href="https://www.written-artefacts.uni-hamburg.de/research/field-a/rfa05.html">
        Pattern Recognition in 2D Data from Digitised Images and Advanced Aquisition Techniques.
    </a>
</p>
<br />
<p>
    The main goal of this software tool is to analyse Occurrences-Frequency tablets in order to extract some
    statistical information such as the mean, standard deviation and outliers. The main tasks achieved by this software tool are:
    <ul>
        <li>
            Calculating individual statistics for each entry in the table
        </li>
        <li>
            Calculating general statistics for each table as a whole
        </li>
        <li>
            Calculating distances between different tables of occurrences using the L2 distance measure
        </li>
    </ul>
</p>

<hr />
<div style="border-style:solid; border-color:blue; border-width:medium; border-radius:10px; padding:3px">
    <h3 style="text-align:center">Guidelines:</h3>
    <ol>
        <li>
            You can add Occurrences-Frequency tables to be analysed by simply uploading the manually generated tabular data. Each uploaded file
            should consist of occurrences from the same style (or expected to be from the same style).
        </li>
        <li>
            The columns in each table contains signs occurrences, while the rows contains individual tablets entries as can be seen in the image below
            part of a cuneiform signs occurrences table:
            <div class="row">
                <div class="col-12">
                    <img src="~/images/CSO.png" class="img-responsive" style="border:solid; width: 95%" />
                </div>
            </div>
        </li>
        <br />
        <li>
            Only files with the ".csv" extension will be considered by this application. Furthermore, the number of signs (columns) needs to be the same;
            otherwise, uploaded files will be considered invalid.
        </li>
        <li>
            File names can be anything, but they will be considered as the style name.
        </li>
    </ol>
</div>
