@page
@model IndexModel
@{
    ViewData["Title"] = "Upload Artefact-Features tables to be Analysed";
}

@*<h4 style="text-align:center; font-style:normal; color:red">This is a beta version for experimentation purposes only!
    To be used by Dr. Wiebke Beyer and Ms. Aneta Yotova from the CSMC.</h4>*@

<h4 style="text-align:center; font-style:italic">@ViewData["Title"]</h4>

<div style="text-align:center">
    <form method="post" asp-page-handler="Upload" enctype="multipart/form-data" style="display: inline-block">
        <div style="text-align:center" class="buttons">
            <div class="upload-button">
                <div class="label" style="font-style:normal;font-size:20px">
                    Select Files
                </div>
                <input type="file" name="files" multiple />
                <br />
                <br />
                <button type="submit" style="background: #337ab7; border-radius: 50px; font-style: normal; font-size: 20px"> Upload and Validate </button>
            </div>
        </div>
    </form>
</div>

@if (ViewData["Message"] != null)
{
    <div class="alert alert-success" style="margin-top:20px">
        @ViewData["Message"]
    </div>
}

<br />
<hr />
<p style="text-align:center">
    This software tool has been developed by <a href="https://www.csmc.uni-hamburg.de/about/people/people-list/mohammed.html"> Dr. Hussein Mohammed</a>
    as a part of sub-project RFA05: <a href="https://www.csmc.uni-hamburg.de/written-artefacts/field-a/rfa05.html">
        Pattern Recognition in 2D Data from Digitised Images and Advanced Aquisition Techniques.
    </a>
</p>
<br />
<p>
    The main goal of this software tool is to analyse artefact features in order to extract some
    statistical information such as the mean, standard deviation and outliers. The main tasks achieved by this software tool are:
    <ul>
        <li>
            Calculating individual statistics for each entry in the table
        </li>
        <li>
            Calculating general statistics for each table as a whole
        </li>
        <li>
            Calculating distances between different tables
        </li>
    </ul>
</p>

<hr />
<div style="border-style:solid; border-color:blue; border-width:medium; border-radius:10px; padding:3px">
    <h3 style="text-align:center">Guidelines:</h3>
    <ol>
        <li>
            Select Artefact-Features tables to be analysed simply by cliking the "Select Files" button. Each uploaded table
            should consist of entries (artefacts) from the same class of features (e.g. same handwriting style), or expected to be from the same class.
        </li>
        <li>
            The columns in each table should present one feature, while the rows contains the feature values of each artefact. Empty and "0" entires
            will be ignored in the analysis.
        </li>
        <li>
            Only files with ".csv" extension will be considered by this application. Furthermore, the number of features (columns) needs to be the same
            in all tables; otherwise, uploaded files will be considered invalid.
        </li>
        <li>
            File names can be anything, but they will be considered as the class name of the artefacts in that table.
        </li>
    </ol>
</div>
